.myContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.myForm {
    width: 25%;
    margin-bottom: 10px;
    border: solid 3px salmon;
    padding: 10px;
    background-color: rosybrown;

}
.chamada {
    text-align: left;
    margin-left: 50px;
}
.myList {
    width: 40%;
    margin-left: 75px;
}
.home {
    background-color: slateblue;
}
.list-group-item{
    border: 0px;
    background-color: slateblue;
}